<link rel="stylesheet" type="text/css" href="./css/table-filter.min.css">
<div class="row animated fadeInLeft">
	<span ng-if="authenticated"><span ng-init="all()"></span></span>
	<div class="animated fadeIn row alert alert-info text-center"
		role="alert" ng-show="message">
		<button class="close" data-dismiss="alert">&times;</button>
		<strong>{{ message }}</strong>
	</div>
	<div class="animated fadeIn row alert alert-success text-center"
		role="alert" ng-show="success">
		<button class="close" data-dismiss="alert">&times;</button>
		<strong>{{ success }}</strong> <span
			class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>
	</div>
	<div class="animated fadeIn row alert alert-danger text-center"
		role="alert" ng-show="error">
		<button class="close" data-dismiss="alert">&times;</button>
		<strong>{{ error }}</strong> <span
			class="glyphicon glyphicon-thumbs-down" aria-hidden="true"></span>
	</div>
	<div class="row panel panel-primary filterable">
		<div class="panel-heading">
			<h3 class="panel-title">Manage Gateways <span ng-if="users.length != 0" class="badge">{{gateways.length}}</span></h3>
			<div class="pull-right">
				<button class="btn btn-default btn-xs btn-filter">
					<span class="glyphicon glyphicon-filter"></span> Filter
				</button>
				<a href="#/Gateways/Create" class="btn btn-success btn-xs">
					<span class="glyphicon glyphicon-plus"></span> Create Gateway
				</a>
			</div>
		</div>
		<table class="table">
			<thead>
				<tr class="filters">
					<th><input type="text" class="form-control"
						placeholder="Name" disabled></th>
					<th><input type="text" class="form-control"
						placeholder="IP Address" disabled></th>
					<th><input type="text" class="form-control"
						placeholder="Port" disabled></th>
					<th><input type="text" class="form-control"
						placeholder="Type" disabled></th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<tr class="animated fadeIn" data-ng-repeat="g in gateways" ng-class="{'fadeOut': g.id == deleted}">
					<td><span ng-if="g.id == new" class="label label-default">New</span> <a href="#/Gateways/Edit/{{g.id}}">{{g.name}}</a></td>
					<td>{{g.IP}}</td>
					<td>{{g.port}}</td>
					<td>{{g.type}}</td>
					<td><button class="btn btn-xs btn-danger" ng-click="delete(g.id, $index)">Delete</button></td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
<script src="./js/table-filter.min.js"></script>
