<nav class="navbar navbar-default animated" data-ng-class="{'fadeInLeft': authenticated, 'fadeOutRight':!authenticated}">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button><img class="navbar-brand" src="./img/sure_logo2.gif" />
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="#/Home"><span class="glyphicon glyphicon-home"></span> Home</a></li>
        <li class="dropdown">
          <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><span class="glyphicon glyphicon-stats" aria-hidden="true"></span> Diagnostic <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#/Electrical">Electrical</a></li>
            <li><a href="#/Enviornment">Environment</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><span class="glyphicon glyphicon-pencil"></span> Administrative <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#/Users">Users</a></li>
            <li><a href="#/Gateways">Gateways</a></li>
            <li><a href="#/Sensors">Sensors</a></li>
            <li><a href="#/Alerts">Alerts</a></li>
            <li><a href="#/Query">Query</a></li>
          </ul>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
    	<li><a href="#/About">About</a></li>
         <li class="dropdown">
          <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><span class="glyphicon glyphicon-cog" aria-hidden="true"></span> <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#/Users/Manage"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> My Account</a></li>
            <li><a href="#/Users/Logout"><span class="glyphicon glyphicon-off" aria-hidden="true"></span> Logout</a></li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>