<!-- content-wrapper -->
<div class="col-md-10 content-wrapper">
	<!-- main -->
	<div class="content">
		<div class="main-content">
			<div
				data-ng-class="{'fadeIn':!$root.authenticated, 'fadeOut':$root.authenticated}"
				class="animated">
				<header id="header" class="row">
					<div class="text-center">
						<img class="" src="img/sure_logo.png" alt="SuReHouse" />
					</div>
					<br>
					<p id="info" class="text-uppercase text-center">
						<strong>su</strong>tainable &amp; <strong>re</strong>silient<br>home
						dashboard
					</p>
				</header>
				<div
					class="animated fadeIn row alert alert-success text-center col-xs-4 col-xs-offset-4"
					role="alert" data-ng-show="status.post_success">
					<strong><span class="glyphicon glyphicon-thumbs-up"></span>
						Welcome!</strong>
				</div>
				<div data-ng-class="{'fadeIn':status.post_error}"
					class="animated alert alert-danger text-center col-xs-4 col-xs-offset-4"
					role="alert" data-ng-show="status.post_error">
					<strong><span class="glyphicon glyphicon-thumbs-down"></span>
						Invalid Username/Password combination!</strong>
				</div>

				<form data-ng-class="{'fadeOut':status.post_success}"
					class="animated row form-horizontal" data-ng-submit="login()">
					<fieldset class="row col-xs-4 col-xs-offset-4 text-center"
						data-ng-disabled="loading">
						<legend>Please Login</legend>
						<div class="form-group">
							<input data-ng-model="user.name" id="username" type="text"
								name="username" placeholder="Username" class="form-control"
								required />
						</div>
						<div class="form-group text-center">
							<input data-ng-model="user.password" id="password"
								type="password" name="password" placeholder="Password"
								class="form-control" required />
						</div>
						<div class="form-group text-center">
							<button type="submit" class="btn btn-primary"
								data-ladda="loading">Login</button>
						</div>
						<div class="form-group text-center">
							<button type="button" class="btn btn-link" data-toggle="modal"
								data-target="#sendPasswordReset">Forgot Password</button>
						</div>
					</fieldset>
				</form>
			</div>
		</div>
	</div>
</div>

<div class="modal fade" id="sendPasswordReset" tabindex="-1"
	role="dialog" aria-labelledby="sendPasswordReset" aria-hidden="true">
	<form class="row form-horizontal" data-ng-submit="sendPasswordReset()">
		<div class="modal-dialog modal-sm">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					<h4 class="modal-title">Send Password Reset</h4>
				</div>
				<div class="modal-body">
					<div class="animated fadeIn alert alert-success text-center"
						role="alert" data-ng-show="reset_success">
						<strong>{{ reset_success }}</strong> <span
							class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>
					</div>
					<div
						data-ng-class="{'fadeIn':reset_error, 'fadeOutRight':!reset_error}"
						class="animated alert alert-danger text-center" role="alert"
						data-ng-show="reset_error">
						<strong>{{ reset_error }}</strong> <span
							class="glyphicon glyphicon-thumbs-down" aria-hidden="true"></span>
					</div>
					<div class="text-center">
						<input type="text" id="email" name="email" type="email"
							class="form-control" data-ng-model="user.email"
							placeholder="Email Address" required>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default"
						data-ng-click="reset_success = null; reset_error = null; user.email = ''"
						data-dismiss="modal">Close</button>
					<button type="submit" class="btn btn-primary" data-ladda="loading">Send
						Reset</button>
				</div>
			</div>
			<!-- /.modal-content -->
		</div>
	</form>
	<!-- /.modal-dialog -->
</div>
<!-- /.modal -->