<div class="container">
	<div class="animated fadeInLeft" data-ng-show="!loading">
		<div class="row col-md-12">
			<div class="animated fadeIn alert alert-danger text-center"
				role="alert" data-ng-show="manage_error">
				<strong>{{ manage_error }}</strong>
			</div>
			<div class="animated fadeIn alert alert-success text-center"
				role="alert" data-ng-show="manage_success"
				data-ng-click="manage_success=null">
				<strong>{{ manage_success }}</strong>
			</div>
			<div class="panel panel-primary" data-ng-init="self()">
				<div class="panel-heading">Your Account</div>
				<form class="form-horizontal" data-ng-submit="manage()">
					<div class="panel-body">
						<div class="form-group">
							<label class="col-xs-2 control-label">Username</label>
							<div class="col-xs-8">
								<input id="username" name="username" type="text"
									data-ng-model="user.name" class="form-control input-xs"
									disabled>
								<div class="help-block">Please contact us if you would
									like to change your username.</div>
							</div>
						</div>
						<div class="form-group"
							data-ng-class="{'has-error':manage_errors.email}">
							<label class="col-xs-2 control-label">Email</label>
							<div class="col-xs-8">
								<input id="email" name="email" type="email" placeholder="Email"
									class="form-control input-xs" data-ng-model="user.email"
									data-ng-disabled="loading" required>
								<div class="help-block">
									We will use this address to send you password resets, and any
									alert notifications you are subscribed to.
									<ul>
										<li data-ng-repeat="e in manage_errors.email">{{e}}</li>
									</ul>
								</div>
							</div>
						</div>
						<div class="form-group text-center">
							<button type="submit" class="btn btn-primary"
								data-ng-disabled="loading" data-ladda="loading">Save</button>
						</div>
					</div>
				</form>
			</div>
		</div>
		<div class="row col-md-12">
			<div class="animated fadeIn alert alert-danger text-center"
				role="alert" data-ng-show="password_error">
				<strong>{{ password_error }}</strong>
			</div>
			<div class="animated fadeIn alert alert-success text-center"
				role="alert" data-ng-show="password_success">
				<strong>{{ password_success }}</strong>
			</div>
			<div class="panel panel-primary">
				<div class="panel-heading">Password Reset</div>
				<form class="form-horizontal" data-ng-submit="changePassword()">
					<div class="panel-body">
						<div class="form-group"
							data-ng-class="{'has-error':password_errors.old_password}">
							<label class="col-xs-2 control-label">Old Password</label>
							<div class="col-xs-8">
								<input id="old_password" name="old_password" type="password"
									placeholder="Old Password" class="form-control input-xs"
									data-ng-model="user.old_password" data-ng-disabled="loading"
									required>
								<div class="help-block">
									Your old password.
									<ul>
										<li data-ng-repeat="e in password_errors.old_password">{{e}}</li>
									</ul>
								</div>
							</div>
						</div>
						<div class="form-group"
							data-ng-class="{'has-error':errors.new_password}">
							<label class="col-xs-2 control-label">New Password</label>
							<div class="col-xs-8">
								<input id="new_password" name="new_password" type="password"
									placeholder="New Password" class="form-control input-xs"
									data-ng-model="user.new_password" data-ng-disabled="loading"
									required>
								<div class="help-block">
									Your new password.
									<ul data-ng-if="errors.new_password">
										<li data-ng-repeat="e in errors.new_password">{{e}}</li>
									</ul>
								</div>
							</div>
						</div>
						<div class="form-group"
							data-ng-class="{'has-error':errors.confirm_password}">
							<label class="col-xs-2 control-label">Confirm Password</label>
							<div class="col-xs-8">
								<input id="confirm_password" name="confirm_password"
									type="password" placeholder="Confirm Password"
									class="form-control input-xs"
									data-ng-model="user.confirm_password"
									data-ng-disabled="loading" required>
								<div class="help-block">
									Confirm your new password.
									<ul>
										<li data-ng-repeat="e in errors.confirm_password">{{e}}</li>
									</ul>
								</div>
							</div>
						</div>
						<div class="form-group text-center">
							<button type="submit" class="btn btn-primary"
								data-ng-disabled="loading" data-ladda="loading">Save</button>
						</div>
					</div>
				</form>
			</div>
		</div>
		<!-- <div class="row col-md-12"
			data-ng-controller="AlertSubscriptionsController">
			<div class="animated fadeIn alert alert-success text-center"
				role="alert" data-ng-show="subscription_success">
				<strong>{{ subscription_success }}</strong>
			</div>
			<div class="panel panel-primary">
				<div class="panel-heading">My Alert Subscriptions</div>
				<form class="form-horizontal" data-ng-init="all()"
					data-ng-submit="subscribeToMultiple()">
					<div class="panel-body">
						<div data-ng-if="subscriptions.length > 0">
							<table class="table">
								<tr>
									<th>Alert</th>
									<th>Subscribed</th>
								</tr>
								<tbody>
									<tr data-ng-repeat="s in subscriptions">
										<td>{{s.name}}</td>
										<td><input type="checkbox" name="checked[]"
											data-checklist-model="checked" data-checklist-value="s.id"
											data-ng-checked="s.subscribed==true"></td>
									</tr>
								</tbody>
							</table>
							<div class="form-group text-center">
								<button type="submit" class="btn btn-primary"
									data-ng-disabled="loading" data-ladda="loading">Save</button>
							</div>
						</div>
						<div data-ng-if="!subscriptions || subscriptions.length == 0"></div>
					</div>
				</form>
			</div>
		</div> -->
	</div>
</div>