<div
	data-ng-class="{'fadeInDown':!authenticated, 'fadeOutRight':authenticated}"
	class="animated">
	<header id="header" class="row">
		<div class="text-center">
			<img class="" src="img/sure_logo.png" alt="SuReHouse" />
		</div>
		<br>
		<p id="info" class="text-uppercase text-center">
			<strong>su</strong>tainable &amp; <strong>re</strong>silient<br>home
			dashboard
		</p>
	</header>
	<div>
		<div
			class="animated fadeIn row alert alert-success text-center col-xs-4 col-xs-offset-4"
			role="alert" data-ng-class="{'fadeOutRight':fadeOut}" data-ng-show="success">
			<strong>{{ success }}</strong> <span
				class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>
		</div>
		<div data-ng-class="{'fadeIn':error, 'fadeOutRight':!error}"
			class="animated alert alert-danger text-center col-xs-4 col-xs-offset-4"
			role="alert" data-ng-show="error">
			<strong>{{ error }}</strong> <span
				class="glyphicon glyphicon-thumbs-down" aria-hidden="true"></span>
		</div>

		<form data-ng-class="{'fadeOutRight':success}"
			class="animated row form-horizontal" data-ng-submit="resetPassword()">
			<fieldset class="row col-xs-4 col-xs-offset-4 text-center">
				<legend>Password Reset</legend>
				<div class="form-group" data-ng-class="{'has-error':errors.email}">
					<input id="old_password" name="old_password" type="email"
						placeholder="Email Address" class="form-control input-xs"
						data-ng-model="user.email" required  data-ng-disabled="loading">
					<div class="help-block">
						<ul>
							<li data-ng-repeat="e in errors.email">{{e}}</li>
						</ul>
					</div>
				</div>
				<div class="form-group" data-ng-class="{'has-error':errors.password}">
					<input id="password" name="password" type="password"
						placeholder="New Password" class="form-control input-xs"
						data-ng-model="user.password" required  data-ng-disabled="loading">
					<div class="help-block">
						<ul>
							<li data-ng-repeat="e in errors.password">{{e}}</li>
						</ul>
					</div>
				</div>
				<div class="form-group"
					data-ng-class="{'has-error':errors.password_confirmation}">
					<input id="password_confirmation" name="password_confirmation"
						type="password" placeholder="Confirm Password"
						class="form-control input-xs" data-ng-model="user.password_confirmation"
						required  data-ng-disabled="loading">
					<div class="help-block">
						<ul>
							<li data-ng-repeat="e in errors.password_confirmation">{{e}}</li>
						</ul>
					</div>
				</div>
				<div class="form-group text-center">
					<button type="submit" class="btn btn-primary"
						data-ng-disabled="loading" data-ladda="loading">
						Reset
					</button>
				</div>
			</fieldset>
		</form>
	</div>
</div>