<div class="chart-nav">
	<strong>Select period: </strong>
	<ul id="sales-stat-tab">
		<li data-ng-init="$parent.period=$root.PERIODS.TODAY"
			data-ng-class="{'active': $parent.period==$root.PERIODS.TODAY}"><a
			href="" data-ng-click="$parent.period=$root.PERIODS.TODAY">Today</a></li>
		<li data-ng-class="{'active': $parent.period==$root.PERIODS.YESTERDAY}"><a
			href="" data-ng-click="$parent.period=$root.PERIODS.YESTERDAY">Yesterday</a></li>
		<li data-ng-class="{'active': $parent.period==$root.PERIODS.THIS_WEEK}"><a
			href="" data-ng-click="$parent.period=$root.PERIODS.THIS_WEEK">This Week
				(Since Sunday)</a></li>
		<li data-ng-class="{'active': $parent.period==$root.PERIODS.THIS_MONTH}"><a
			href="" data-ng-click="$parent.period=$root.PERIODS.THIS_MONTH">This
				Month</a></li>
		<li class="pull-right" data-ng-show="updated">Last Updated: <strong>{{updated
				| date:'shortTime'}}</strong></li>
	</ul>
</div>
<nvd3 options="options" data="data"></nvd3>