<!-- main -->
<div class="col-md-10 content-wrapper fadeIn" data-ng-class="{'animated': !focusOnWidget}">
	<div class="content">
		<div class="main-content">
			<div class="widget" data-ng-class="{'widget-focus-enabled': focusOnWidget}">
				<div class="widget-header">
					<h3></h3>
					<div class="btn-group widget-header-toolbar">
						<a href="" id="tour-focus" title="Focus"
							data-ng-click="$root.focusOn=!$root.focusOn; focusOnWidget=!focusOnWidget"
							class="btn-borderless btn-focus"><i
							class="fa fa-eye{{(focusOnWidget) ? '-slash' : ''}}"></i></a>
					</div>
				</div>
				<div class="widget-content">
					<iframe src="http://192.168.50.7/" width="1500" height="1200"></iframe>
				</div>
			</div>
		</div>
	</div>
</div>