<div
	class="col-md-10 animated fadeIn alert alert-success top-general-alert"
	role="alert" data-ng-show="status.delete_success">
	<strong>Successfully deleted the sensor.</strong> <span
		class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>
	<button class="close" data-ng-click="status.delete_success=null">&times;</button>
</div>
<div
	class="col-md-10 animated fadeIn alert alert-danger top-general-alert"
	role="alert" data-ng-show="status.delete_error">
	<strong>Failed to delete the sensor! Please contact support if
		this issue persists.</strong> <span class="glyphicon glyphicon-thumbs-down"
		aria-hidden="true"></span>
		<button class="close" data-ng-click="status.delete_error=null">&times;</button>
</div>

<div class="col-md-10 content-wrapper">
	<!-- main -->
	<div class="content">
		<div class="main-content">
			<span data-ng-init="all()"></span>
			<div class="widget filterable animated fadeIn">
				<div class="widget-header">
					Manage Sensors <span data-ng-if="sensors.length != 0" class="badge">{{sensors.length}}</span>
					<div class="btn-group widget-header-toolbar">
						<button class="btn btn-default btn-xs btn-filter">
							<span class="glyphicon glyphicon-filter"></span> Filter
						</button>
						<a href="#/Sensors/Create" class="btn btn-success btn-xs text-white"> <span
							class="glyphicon glyphicon-plus"></span> Create Sensor
						</a>
					</div>
				</div>
				<div class="widget-content">
					<table class="table">
						<thead>
							<tr class="filters">
								<th><input type="text" class="form-control"
									placeholder="Name" disabled></th>
								<th><input type="text" class="form-control"
									placeholder="Display Name" disabled></th>
								<th><input type="text" class="form-control"
									placeholder="Gateway" disabled></th>
								<th></th>
							</tr>
						</thead>
						<tbody>
							<tr class="animated fadeIn" data-ng-repeat="s in sensors"
								data-ng-class="{'fadeOut': s.id == deleted}">
								<td><span data-ng-if="s.id == n"
									class="label label-default">New</span> <a
									href="#/Sensors/Edit/{{s.id}}">{{s.name}}</a></td>
								<td>{{s.display_name}}</td>
								<td>{{s.gateway}}</td>
								<td><button class="btn btn-xs btn-danger"
										data-ng-click="destroy(s.id, $index)">Delete</button></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>
<script src="./js/table-filter.min.js"></script>