<div
	class="col-md-10 animated fadeIn alert alert-success top-general-alert"
	role="alert" data-ng-show="status.post_success"
	data-ng-class="{'fadeOut':fade}">
	<strong>Successfully created your sensor.</strong> <span
		class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>
</div>
<div
	class="col-md-10 animated fadeIn alert alert-danger top-general-alert"
	role="alert" data-ng-show="status.post_error">
	<span class="glyphicon glyphicon-alert" aria-hidden="true"></span> <strong>Failed
		to create your sensor!</strong>
</div>

<!-- content-wrapper -->
<div class="col-md-10 content-wrapper">
	<!-- main -->
	<div class="content">
		<div class="main-content">
			<div class="widget animated fadeIn"
				data-ng-class="{'fadeOut':status.post_success}">
				<div class="widget-header"></div>
				<div class="widget-content">

					<form data-errors="errors" class="form-horizontal"
						data-ng-submit="create()">
						<fieldset data-ng-disabled="loading">
							<legend class="text-center">Create a New Sensor</legend>
							<div id="field"
								data-ng-include="'app/templates/sensors/fields.html'"></div>
							<div class="form-group text-center">
								<button type="submit" class="btn btn-primary"
									data-ladda="loading">Create Sensor</button>
							</div>
						</fieldset>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>